public/404.html
<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
  <style>
  .custom-404-page {
    background-color: white;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans";
    -webkit-font-smoothing: antialiased;
  }
  .custom-404-page-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .custom-404-page-content img {
    margin-top: 30px;
    width: 300px;
  }
  .custom-404-header {
    font-size: 24px;
    letter-spacing: -0.5px;
    color: rgb(80,80,80);
    text-align: center;
    font-weight: bolder;
  }
  .custom-404-body {
    font-size: 18px;
    color: rgb(100,100,100);
    text-align: center;
  }

  @media (max-width: 768px) {
    .custom-404-page-content img {
      width: 230px;
    }
    .custom-404-header {
      font-size: 22px;
    }
    .custom-404-body {
      font-size: 18px;
      margin-top: 10px;
    }
    .custom-404-page {
      padding: 0 20px;
    }
  }

  </style>
</head>

<body class="custom-404-page">
  <div class="custom-404-page-content">
    <div class="custom-404-header">
      Oupss, nous avons rencontré un problème
    </div>
    <div class="custom-404-body">
      Patience, nous tentons de rétablir la connexion
    </div>
    <img src="https://cdn.bientotchezsoi-dev.com/images/Erreur404.svg" alt="">
  </div>
</body>

</html>

app/views/errors/404.html.haml
.custom-404-page
  .custom-404-page-content
    .custom-404-header
      Oupss, nous avons rencontré un problème
    .custom-404-body
      Patience, nous tentons de rétablir la connexion
    = image_tag "https://cdn.bientotchezsoi-dev.com/images/Erreur404.svg"
